@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700|Alegreya:400,700,400italic,700italic);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Alegreya";
  font-size: 18px;
}

header#main-header {
  background: url(http://www.telegraph-office.com/pages/images/Titanic_Wireless_Schematic.gif) center center;
  padding: 5%;
  line-height: 1.2;
  color: crimson;
  position: relative;
  z-index: 0;
}

header#main-header::before {
  background: white;
  content: "";
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

header#main-header p.summary {
  font-size: 30px;
  text-shadow: 0 0 5px white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Oswald;
  font-weight: normal;
}

#main-header h1 {
  margin: 0;
  font-size: 80px;
  text-shadow: 0 0 10px white;
  letter-spacing: -3px;
}



article.bio {
  padding: 100px; 
}

article.bio::after {
  border-bottom: 1px solid gray;
}

article.bio header {
  margin-bottom: 20px;
  overflow: hidden;
}

article.bio header div.topline {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px dashed gray;
}

article.bio footer {
  border-top: 2px dashed gray;
  color: gray;
  font-style: italic;
  padding-top: 1px;
}

article.bio header p.lead {
  font-size: 26px;
  font-style: italic;
}

article.bio header h1 {
  font-size: 60px;
  line-height: 1;
  margin: 0;
  margin-right: 15px;
  display: inline-block;
}

article.bio header div.dates {
  font-size: 45px;
  font-style: italic;
  line-height: 1;
  display: inline-block;
  color: gray;
}

article#margaret-hamilton img {
  width: auto;
  height: 210px;
}

div#container {
  overflow:auto;
  background: #cc0000;
}

aside.sidebar {
  width: 25%;
  float: left;
  padding: 100px 80px;
  font-size: 20px;
}

aside.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

aside.sidebar span.dates {
  font-style: italic;
  opacity: 0.5;
}

aside.sidebar ul li {
  margin-bottom: 10px;
}

aside.sidebar a {
  color: white;
}

aside.sidebar a:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: crimson;
}

main {
  overflow: auto;
}

main section.articles {
  width: 75%;
  float: left;
  background: white;
}

div#container > footer {
  background: black;
  color: white;
  padding: 20px;
}

header img {
  border-radius:100%;
  width: 200px;
  float: left;
  margin: 20px;
}